@model UpdateTeacherSocialDto
@{
	ViewData["Title"] = "Sosyal Medya Güncelleme Sayfası";
	Layout = "~/Areas/Teacher/Views/TeacherLayout/_TeacherLayout.cshtml";
}

<form method="post">
	<input type="hidden" asp-for="TeacherSocialId">
	<label>Soysal Medya Adı</label>
	<input type="text" asp-for="SocialMediaName" class="form-control">
	<br>
	<label>Icon</label>
	<input type="text" asp-for="Icon" class="form-control">
	<br>
	<label>Sosyal Medya URL</label>
	<input type="text" asp-for="Url" class="form-control">
	<br>
	<button class="btn btn-outline-primary">Güncelle</button>
</form>
