@model CreateCourseRegisterDto
@{
	ViewData["Title"] = "RegisterCourse";
	Layout = "~/Areas/Student/Views/StudentLayout/_StudentLayout.cshtml";
}

<form method="post">
	<label>Kurs</label>
	<select type="text" asp-for="CourseId" asp-items="@ViewBag.courses" class="form-control">
		<option>Kurs Seçiniz</option>
	</select>
	<br>
	<button class="btn btn-outline-primary">Kursa Kayıt Ol</button>
</form>

