@model CreateCourseVideoDto
@{
	ViewData["Title"] = "Yeni Video Ekleme Sayfası";
	Layout = "~/Areas/Teacher/Views/TeacherLayout/_TeacherLayout.cshtml";
}

<h2>Kurs Adı : <strong>@ViewBag.courseName</strong> </h2>
<br>
<form method="post">
	<input type="hidden" value="@ViewBag.courseId" name="CourseId">
	<label>Video Sıra No</label>
	<input type="number" asp-for="VideoNumber" class="form-control" required>
	<br>
	<label>Video URL</label>
	<input type="text" asp-for="VideoURL" class="form-control" required>
	<br>
	<button class="btn btn-outline-primary">Kaydet</button>
</form>


